<footer class="footerarea">
    <div class="container">
        <div class="row icon">
           <div class="col-md-5 col-12">
           <img src="../../../assets/images/logo_white.png" alt="">
            <p>Lorem ipsum sit amet,consectetur adipiscing elit.Nam pharetra efficitur diam,vel sagittis ipsum.Curabitur eleifend,risus id sollicitudian pretium,massa ex tristique velit.</p>
            <h3>Join Newsletters</h3>
            <form action="">
                
                <input type="e-mail" name="e-mail"  placeholder="Email Address"><i class="fa  fa-send"></i>
            </form>
           </div>
           <div class="col-md-2 col-12">
            <h3>Our Projects</h3>
            <ul>
                <li>Medical & Health</li>
                <li>Educations</li>
                <li>Technology</li>
                <li>Web Development</li>
                <li>Food & Clothes</li>
            </ul>
           </div>
           <div class="col-md-2 col-12">
            <h3>Support</h3>
            <ul>
                <li>Privacy Policy</li>
                <li>Conditions</li>
                <li>Company</li>
                <li>Faq & Terms</li>
                <li>Contact Us</li>
            </ul>
           </div>
           <div class="col-md-2 col-12">
            <h3>Contact Us</h3>
                <div class="contact">
                    <div class="row">
                        <div class="col-md-3">
                            <a href=""><i class="fa  fa-phone"></i></a>
                        </div>
                        <div class="col-md-9">
                            <p>Phone Number<br>
                            <b>+012(345)78 93</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href=""><i class="fa  fa-envelope-open"></i></a>
                        </div>
                        <div class="col-md-9">
                            <p>Email Address<br>
                            <b>Planty@gmail.com</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href=""><i class="fa fa-map-marker"></i></a>
                        </div>
                        <div class="col-md-9">
                            <p>Locations<br>
                            <b>59 Main Street,USA</b></p>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="row foot">
            <div class="col">
                <p>&copy;2022 Planty.All Rights are Reserved</p>
            </div>
            <div class="col text-end">
                <ul>
                    <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</footer>