<footer class="footerarea">
    <div class="container">
        <div class="row">
           <div class="col-md-5 col-12">
           <img src="../../../assets/images/logo_white.png" alt="">
            <p>Lorem ipsum sit amet,consectetur adipiscing elit.Nam pharetra efficitur diam,vel sagittis ipsum.Curabitur eleifend,risus id sollicitudian pretium,massa ex tristique velit.</p>
            <h3>Join Newsletters</h3>
            <form action="">
                
                <input type="e-mail" name="e-mail" placeholder="Email Address">
            </form>
           </div>
           <div class="col-md-2 col-12">
            <h3>Our Projects</h3>
            <ul>
                <li>Medical & Health</li>
                <li>Educations</li>
                <li>Technology</li>
                <li>Web Development</li>
                <li>Food & Clothes</li>
            </ul>
           </div>
           <div class="col-md-2 col-12">
            <h3>Support</h3>
            <ul>
                <li>Privacy Policy</li>
                <li>Conditions</li>
                <li>Company</li>
                <li>Faq & Terms</li>
                <li>Contact Us</li>
            </ul>
           </div>
           <div class="col-md-2 col-12">
            <h3>Contact Us</h3>
            <ul>
                <li>Phone Number <br>
                +012(345) 78 93</li>
                
                <li>Email Address <br>
                Planty@gmail.com</li>
                <li>Locations <br>
                59 Main Street,USA</li>
            </ul>
           </div>
        </div>
        <div class="row foot">
            <div class="col">
                <p>&copy;2022 Planty.All Rights are Reserved</p>
            </div>
            <div class="col text-end">
                <ul>
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>