@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap');
.cnarea{
    padding: 76px 0 28px 0;

}
.cnarea h3{
    color:#1D5F55 ;
    padding: 0 0 45px 0;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-size: 40px;
    
}
.cnarea a:link, .cnarea a:visited{
    color:#1D5F55 ;
    text-decoration: none;
}
