<section class="plant ">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Plant Stands</h3>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <img src="../../../assets/images/ps1.png" alt="">
            </div>
            <div class="col-md-4 col-12">
                <img src="../../../assets/images/ps2.png" alt="">
            </div>
            <div class="col-md-4 col-12">
                <img src="../../../assets/images/ps3.png" alt="">
            </div>
        </div>
    </div>
</section>
