<section class="servicearea">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2>Free Shipping Services</h2>
                <p>*only for the same region</p>
                <ul>
                    <li><i class="fa fa-phone "></i><a href="">+021(345) 78 93</a></li>
                    <li><i class="fa fa-envelope "></i><a href="mailto:hr@email.com ? Subject=query & cc=admin @ email.com & bcc=info@email.com">order@Planty.co</a></li>
                </ul>
                
                

            </div> 
        </div>
    </div>
</section>
