.servicearea{
    padding: 71px 0;
    background-color: white;
    
    /* border-radius: 20px; */
    /* height: 100%; */
    /* width: 100%; */

}
.service{
    background: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0, 0.4)), url('../../../assets/images/services.png');
    background-size: cover;
    border-radius: 20px;
    padding: 50px 0 100px 0;
    
    /* background-image:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), ; */
}
.servicearea h2{
    color:white ;
    text-align:center;
    font-family: Open Sans;
   font-size: 44px;
   letter-spacing: 0.3px;
   margin: 35px 0 0 0 ;
   
}
.servicearea p{
    font-family:Poppins;
    text-align: center;
    letter-spacing: 0.3px;
    color: white;
}
.servicearea ul{
    list-style: none;
    margin:0;
    padding:0;
}
.servicearea ul li{
    text-align: center;
}
.servicearea ul li a:link, .servicearea ul li a:visited{
    color: white;
    text-decoration: none;
}
.servicearea i{
    color: white;
    margin-right: 10px;
}