<section class="searcharea">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-list "></i>
            </div>
            <div class="col-md-8">
                <form action="">
                    <input type="text" name="search" placeholder="Search flowers...">
                </form>
            </div>
            <div class="col-md-2">
               <p> <i class="fa  fa-search"></i></p>
            </div>
        </div>
    </div>
</section>
