.searcharea{
    padding:68px 0 ;
    background-image: url('../../../assets/images/search.png');
    background-size: cover;
}
i{
    color: white;
    border:solid 1px white;
    border-radius: 10px;
    padding:15px;
    font-size: 30px;
    text-align: right;
}
p i{
    color:#014B40;
    background-color: white;
}
input{
   width: 992px;
   height: 60px;
   border-radius: 10px;
   padding: 0px 0px 0 27px;
}
input::placeholder{
    color:#54867E ;
}